.scanner {
  position: relative;
  aspect-ratio: 1;
  border-radius: var(--rounded-lg);
  overflow: hidden;
}

.scanner--loading::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  width: 6rem;
  height: 6rem;
  box-sizing: border-box;
  border: 5px solid var(--color-primary);
  border-right-color: var(--color-secondary);
  border-top-color: var(--color-accent);
  border-bottom-color: transparent;
  border-radius: 50%;
  transform: translate(-50%, -50%);

  @media (--motion-ok) {
    --translate: -50%;

    animation: spin 1s linear infinite;
  }
}

.scanner__play {
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  aspect-ratio: 1;
  min-width: 5rem;
  min-height: 5rem;
}

.scanner__error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: var(--layer-2);
}

.scanner__play-button {
  width: 100%;
  height: 100%;
  border-radius: var(--rounded-full);
  background-color: var(--color-primary);
  border: none;
  padding: 0.625rem;
  color: var(--color-white);
  cursor: pointer;

  &::before {
    --border-size: 3px;

    position: absolute;
    content: "";
    border: var(--border-size) dashed var(--color-primary-light);
    width: calc(100% + 2 * var(--border-size));
    height: calc(100% + 2 * var(--border-size));
    border-radius: var(--rounded-full);
    top: calc(-1 * var(--border-size));
    left: calc(-1 * var(--border-size));

    @media (--motion-ok) {
      animation: spin 8s linear infinite;
    }
  }

  & svg {
    transform: translateX(2px);
  }
}

.scanner__camera-switch {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  width: 3rem;
  height: 3rem;
  z-index: var(--layer-1);
  border-radius: var(--rounded-full);
  padding: 0.75rem;
  border: none;
  color: var(--color-primary);
  background-color: oklch(100% 0 0deg / 50%);
  cursor: pointer;

  &:hover {
    background-color: oklch(100% 0 0deg / 80%);
  }

  &:focus {
    background-color: oklch(100% 0 0deg / 80%);
    outline: oklch(100% 0 0deg / 80%) solid 2px;
    outline-offset: 2px;
  }
}

@keyframes spin {
  from {
    transform: translate(var(--translate, 0), var(--translate, 0)) rotate(0);
  }

  to {
    transform: translate(var(--translate, 0), var(--translate, 0))
      rotate(360deg);
  }
}
